<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Main Screen</title>
    <div class="topnav"><a class="title" href="/">메인으로</a>
        <% if (!isAuthenticated) { %>
        <a href="/login">로그인</a>
        <a href="/signup">회원가입</a>
        <% } else { %>
        <a href="/userscore">내 정보</a>
        <a href="/logout">로그아웃</a>
        <% } %>
    </div>
    <a href="/"><img id="logo" src="../image/logo7.png" alt="My Image"></a>
</head>

<body>
    <p align="center">나의 표준점수 합: <%=std_score%></p>
    <form action="/showrecom/<%= std_score %>" align="center">
        <input type="text" name="keyword" placeholder="관심 학과 검색" />
        <button class="submit" type="submit" value="검색">검색</button>
    </form>
    <br /> <br /> <br />
    <hr id="logoLine">
    <%if (keyword !== '') {%>
    <p align="center">검색어: <%= keyword %> </p>
    <% } %>
    <p class="tabletitle" align="center">나의 추천 학과</p>
    <table>
        <tr>
            <th>대학</th>
            <th>학과</th>
            <th>표준점수</th>
        </tr>
        <% for (let res of result) {  %>
        <tr align="center">
            <td><%= res.University.univ_name %></td>
            <td><%= res.depart_name %></td>
            <td><%= res.standard_score %></td>
        </tr>
        <% } %>
    </table>
</body>

</html>