<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Main Screen</title>
    <% if (!isAuthenticated) { %>
    <button><a href="/login">로그인</a></button>
    <button><a href="/signup">회원가입</a></button>
    <% } else { %>
    <button><a href="/userscore">내 정보</a></button>
    <button><a href="/logout">로그아웃</a></button>
    <% } %>
    <h1><a href="/">Project Name</a></h1>

</head>

<body>

    <p>
        <strong>아이디 : </strong>
        <% var id = user_id %>
        <a>
            <%= id %>
        </a>
    </p>
    <p>
        <strong>이름 : </strong>
        <% var name = user_name %>
        <a>
            <%= user_name %>
        </a>
    </p>
    <p>
        <strong>성적 정보</strong>
    </p>
    <% if(!results[0]) {%>
    <p>등록된 정보가 없습니다!</p>
    <% } else { %>
    <table border="2" align="center" width="1000px" cellspacing="0">
        <thead>
            <tr>
                <th>달</th>
                <th>표준점수/백분위</th>
                <th>국어</th>
                <th>수학</th>
                <th>영어</th>
                <th>탐구</th>
            </tr>
        </thead>
        <tbody>
            <% if(results){
                    for(let result of results){ %>
            <tr align="center">
                <form action="/modifyuserscore" method="post">
                    <td><input type="text" name="month" value="<%= result.month %>" readonly
                            style="border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
                    </td>

                    <% if(result.sp=='s') {%>
                    <td><input type="text" name="sp" value="표준점수" readonly
                            style="border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
                    </td>
                    <% } else { %>
                    <td><input type="text" name="sp" value="백분위" readonly
                            style="border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
                    </td>
                    <% } %>

                    <td><input type="text" name="korean" value="<%= result.korean %>"></input></td>
                    <td><input type="text" name="math" value="<%= result.math %>"></input></td>
                    <td><input type="text" name="english" value="<%= result.english %>"></input></td>
                    <td><input type="text" name="inquiry" value="<%= result.inquiry %>"></input></td>
                    <td><button type="submit" name="button" value="modify">수정하기</button></td>
                    <td><button type="submit" name="button" value="delete">삭제하기</button></td>
                </form>
            </tr>
            <% } %>
            <% } %>
        </tbody>
    </table>
    <% } %>
    <button><a href="/insertscore">성적 입력하기</a></button>
</body>

</html>